<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <a href="/recipes">Dashboard</a> <a href="/users/logout">Logout</a>
    <p>{{recipe.name}}</p> 
    <p>Description: {{recipe.description}}</p>
    <p>Under 30 Minutes: {{recipe.sub30minutes}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
    <p>Date Made: {{recipe.date}}</p>
</body>
</html>