<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(One)</title>
</head>
<body>
    <h1>User {{user.id}}</h1> <a href="/">Home</a>
    <p>Full Name: {{user.first_name}} {{user.last_name}} </p>
    <p>Email: {{user.email}}</p>
    <p>Create on: {{user.created_at}}</p>
    <p>Updated on: {{user.updated_at}}</p>
    <br>

    <a href="">Edit</a>
    <span>|</span>
    <a href="">Delete</a>
</body>
</html>