<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <a href="/">Home</a>
    <form action="/users/edit" method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <p>First Name:</p>
        <input value="{{user.first_name}}" type="text" name="first_name">
        <br>
        <p>Last Name:</p>
        <input value = "{{user.last_name}}" type="text" name = "last_name">
        <p>Email:</p>
        <input value = "{{user.email}}" name="email">
        <input type="submit" value="Updated">
    </form>
    <br>
    <a href="/users/{{user.id}}">Show User</a>
</body>
</html>